.fundoMotivos{
  padding: 10rem 0;
  width: 100%;
  background: #2C6E49;
  
}



.tituloMotivos{
  color: white;
  text-align: center;
  margin-bottom: 1.25rem;
  
}
.tituloMotivos span{
  background: black;
}
.subtituloMotivos span{
  background: black;
}

.subtituloMotivos{
  text-align: center;
  color: white;
  margin-bottom: 4rem;
  
  
}

.cardsMotivos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;

}

.highlight-text {
  display: inline-block;
  position: relative;
}

.highlight-text.highlight {
  background-image: linear-gradient(180deg, rgba(255, 255, 0, 0.5), rgba(255, 255, 0, 0.5)); /* Defina a cor e opacidade desejadas para o marca texto */
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 100% 5px; /* Ajuste a altura do marca texto conforme necessário */
  transition: background-size 0.3s ease-in-out; /* Adicione uma transição suave */
}

.boxDiv{
  background-color: black;
  height: 5rem;
  width: 5rem;
}

@media (max-width: 800px) {
  .cardsMotivos {
    display: flex;
    justify-content: center;
  }
  .tituloMotivos{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 1.25rem;
  }

}
