.fundoOquee{
  width: 100%;
  background:#F6F6F6;
  display: flex;
  flex-direction: row;
  left: calc(50% - 100%/2);




}

.espaco{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
  flex-wrap: wrap;





}

.divImg{
  align-items: center;
}

.articleOquee{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
}

.tituloOquee{
  display: flex;
  color: #2C6E49  ;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;



  
}

.divImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textoOquee{
  display: flex;
  padding: 2rem;
  text-align: justify;
  justify-content: flex-start;
  flex-wrap: wrap;




}

.vslVideo {
  display: flex;
  justify-content: center;
  width: 50%;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.3;
  
}


@media (max-width: 800px) {
  .fundoOquee {
    display: flex;
    flex-direction: column; /* Altera o fluxo de layout para linha */
    justify-content: center;
  }
  .tituloOquee {
    padding-top: 2rem;
    display: flex;
    margin: 1.25rem;
  
  }
  .textoOquee{
    display: flex;
    margin: 1.25rem;
    justify-content: flex-start;
    flex-wrap: wrap;

  }
}
