.tituloBonusCard{
  color: white;
}
.subtituloBonusCard{
  color: white;
}
.valorBonusCard{
  color: white;
}
.valorBonusCard span{
    text-decoration: line-through;
    text-decoration-style:solid;
    /* text-decoration-color: aqua; */
  
  }

.imagemCard{
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 50px;
  width:auto;
  text-align: center;
}
.fundoBonusCard{
 display: flex; 
  margin: 2rem;
}
.containerBonusCardText{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.containerBonusCard{
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
}