.queroEmagrecerAgora{
    box-sizing: border-box;
    font-size: 1.25rem;
    font-family: 'Raleway';
    font-weight: 700;
    color: white;
    background: #D68C45;
    border-bottom: 3px solid rgba(0, 0, 0, 0.19);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.19);
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    border: none;
    transition: 0.5s;
    margin: 2rem 0;
    /* max-width: 15rem; */

}
.queroEmagrecerAgora:hover{
    transform: scale(1.25);
    cursor: pointer;



}
