.fundoTop{
  padding-top: 2rem;
  width: 100%;
  background: rgb(88,220,164);
background: linear-gradient(9deg, rgba(88,220,164,1) 0%, rgba(145,190,86,1) 100%);
padding: 7.5rem 0;
  
}

.tituloTop{
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0.55rem;
  font-size: 1.75rem;

}

.subtituloTop{
  text-align: center;
  justify-content: center;

}

.imgTop{
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; overflow: hidden; 
  max-width: 100%; 

}

.imgTop iframe, 
.imgTop object, 
.imgTop embed { 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; 
  height: 70%; 
  margin: 2rem;

}



.divButton{
  text-align: center;
}
@media (max-width: 800px) {
 .imgTopDiv{
    width: 20rem;
    height: auto;
    justify-content: center;  


  }
  .subtituloTop {
    
    display: flex;
    text-align: center;
    margin: 1.25rem;
    font-size: 1.25rem;
  }
  .tituloTop {
    
    display: flex;
    text-align: center;
    margin: 0.75rem;
    font-size: 1.25rem;
  }

.imgTop iframe, 
.imgTop object, 
.imgTop embed { 
  position: absolute; 
  top: 0; left: 0; 
  width: 100%; 
  height: 80%; 
  margin: 0.1rem;
  padding-top: 2rem;

}

}
@media (min-width: 1600px) {
  .tituloTop{

    font-size:2.5rem;
  
  }
  
  .subtituloTop{
    font-size: 2rem;
    padding: 1.5rem;

  
  }
  
}