.fundoGarantias{
  width: 100%;
  background:#F6F6F6;
  display: flex;
  align-items: center;
  flex-direction: row;
  left: calc(50% - 100%/2);

}

.espacoGarantias{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
  flex-wrap: wrap;




}

.articleGarantias{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.articleGarantias h2{
  display: flex;
  color: #4f705d  ;
  flex-wrap: wrap;
  padding-bottom: 0 2rem;
}

.tituloGarantias{
  display: flex;
  color: #2C6E49  ;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 2rem;



  
}

.textoGarantias{
  display: flex;
  padding: 2rem;
  text-align: justify;
  justify-content: flex-start;
  flex-wrap: wrap;




}



.fundoGarantias img{
  display: flex;
  flex-wrap: wrap;
  padding: 0 5rem;
  width: 20rem;
  height: auto;

  
}

@media (max-width: 800px) {
  .fundoGarantias {
    display: flex;
    flex-direction: column; /* Altera o fluxo de layout para linha */
    justify-content: center;
  }
  .tituloGarantias {
    padding-top: 2rem;
    display: flex;
    margin: 1.25rem;
    text-align: center;
  }
  .textoGarantias{
    display: flex;
    margin: 1.25rem;
    justify-content: flex-start;
    flex-wrap: wrap;

  }
}
