.fundoGarantias{
  width: 100%;
  padding: 2rem;
  padding-bottom: 5rem;
  background: rgb(88,220,164);
background: linear-gradient(9deg, rgba(88,220,164,1) 0%, rgba(145,190,86,1) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  left: calc(50% - 100%/2);




}


.tituloGarantias{
  display: flex;
  color: #FFFFFF  ;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;




  
}

.subtituloGarantias{
  display: flex;
  color: #FFFFFF;
  padding: 2rem;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.containerGarantias{
  display: flex;
  
}
.containerGarantias img{
  width: 15rem;
}
.containerGarantias div{
  margin-left: 2rem;
  
}
.containerGarantias h2{
  color: white;
  
}
.containerGarantias p{
  color: white;
  max-width: 40rem;
  
}





@media (max-width: 800px) {
  .fundoGarantias {
    display: flex;
    flex-direction: column; /* Altera o fluxo de layout para linha */
    justify-content: center;
  }
  .tituloGarantias {
    padding-top: 2rem;
    display: flex;
    margin: 1.25rem;
    text-align: center;
  }

}
